// RESET


@mixin global-reset {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    @include reset-box-model;
    @include reset-font;
  }
  // Unlike Eric's original reset, we reset the html element to be compatible
  // with the vertical rhythm mixins.
  html {
    @include reset-body;
  }
  ol, ul {
    @include reset-list-style;
  }
  table {
    @include reset-table;
  }
  caption, th, td {
    @include reset-table-cell;
  }
  q, blockquote {
    @include reset-quotation;
  }
  a img {
    @include reset-image-anchor-border;
  }
  @include reset-html5;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

//Variableas
$pad: 50px;
$gray: #444444;
$orange: #fbb03b;
$blue: #3499b8;
$copy: 'Raleway', sans-serif;
$headings:  'Merriweather', serif;


//MIXING

// media queries mixing
@mixin respond-to($name) {
  @if $name == tablet {
    @media only screen and (min-width: 767px) { @content; }
  }
   @if $name == desktop {
    @media only screen and (min-width: 1100px) { @content; }
  }
}


//mixing for ie8
@mixin respond-wrapper-fallback($name, $wrapper-class) {
    @at-root .#{$wrapper-class}  {
      @content;  
    }

  @include respond-to($name) {
      @content;
    }
  }


  //mixing pseudo class b4/after
@mixin b4-after-icon($height, $width, $side-width, $top, $background-position) {
    position:absolute;
    display: block;
    background: url(../images/spry.png) no-repeat;
    content: '';
    height:$height;
    left:$side-width;
    width: $width;
    top: $top;
    background-position: $background-position;
}

@mixin rollover ( $background-position){
    background-position: $background-position;
    outline: none;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


//GRID

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

.grid {
  margin: 0 0 $pad 0;
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  width:100%;
  margin: 20px 0 15px 0;
  .grid &:last-of-type {
    padding-right: 0;
    }
  @include respond-wrapper-fallback (tablet, old-ie&){
    float: left;
    padding-right: $pad;
    margin:0;
    }
    img{
      width:100%;
    }
}

//COLUMNS FOR TABLET

 @include respond-wrapper-fallback (tablet, old-ie&){
    .col-1-1, .col-1-2 {
      width:50%;
    }

      #about .col-1-1:nth-child(3){
      position: relative;
      top: -130px;
    }
     .col-2-3 {
      width:66.66%;
    }
       header .col-1-3 {
      width: 33.33%;
    }

 
 .fourth{
  width:50%;
  float:left;
}
 

 }

 //COLUMNS FOR desktop

 @include respond-wrapper-fallback (desktop, old-ie&){
    .col-1-1{
      width:100%;
    }
    .col-2-3 {
      width: 66.66%;
      margin-bottom: 20px;
    }
    .col-1-3 {
      width: 33.33%;
      position:relative;
    }
    .col-1-2 {
     width: 50%;
    }
     #about #content .col-1-3:first-child{
      margin-right: 50%;
     }

    #about .col-1-1:nth-child(3){
      position: relative;
      top: 0px;
    }

        .fourth{
  width:25%;
  float:left;
}
  }

  // GENERAL STYLE

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
body {
  background: url(../images/texture.png) repeat;
}
.img{
  background:url(../images/spry.png) no-repeat;
}
#wrapper {
  min-height:100%;
  position:relative;
  @include respond-wrapper-fallback (tablet, old-ie&){
  padding: 50px;
}
  
}
header {  
  background:#5ee;
  
}
#content {
  padding: 0 10px;
  padding-bottom:20px;   /* Height of the footer element */
  margin:0 auto;

}
footer {
  width:100%;
  margin:0 auto;
  position:absolute;
  bottom:0;
  left:0;
  height:20px;
  padding-left: 50px;
  padding-right: 60px;

}

footer > div:first-child {
  width:100%;

  border-top: 5px solid #444444;
}

footer:after {
 @include b4-after-icon(45px, 55px, auto, -50px, 11% 29% );
 right:11px;

}

// navigation
header{
  background:$gray;
  min-height:80px;
  padding: 20px 10px;
   @include respond-wrapper-fallback (tablet, old-ie&){
    min-height: 50px;
    padding: 0;
  }
}

header:before{
   @include respond-wrapper-fallback (tablet, old-ie&){
       @include b4-after-icon(95px, 48px, 8px, 28px,  4px -139px)
    }
}
header:after{
   @include respond-wrapper-fallback (tablet, old-ie&){
       @include b4-after-icon(95px, 48px, auto, 26px,  -56px -137px );
       right:11px;
    }
}


nav ul {
  text-align: center;
  font-family: $headings;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  position:relative;
  z-index: 1000;

  @include respond-wrapper-fallback (tablet, old-ie&){
    padding: 0;
    float:right;
    height: 50px;
    padding-bottom: 40px;
   
  }
  li{
    background:$gray;
    list-style: none;
    border-bottom: 2px solid $orange;
    border-top: 2px solid $orange;
    padding: 15px 0 15px;
    width:100%;
    position:relative;
    height:50px;
    @include respond-wrapper-fallback (tablet, old-ie&){
      display:inline-block;
      width:auto;
      border:none;
      padding:0 15px;
      top:0;
    }

  }
  li:nth-child(even){
    border:none;
  }
  li a {
    color:white;
    text-decoration: none;
    margin: 0 8px;
    margin: 0px 10px 0 30px;
    position: relative;
   @include respond-wrapper-fallback (tablet, old-ie&){
    top:15px;
  }
   
  }


  li:before{
    @include b4-after-icon(35px, 48px, 60px, 0px, 0.5% 3% );
    @include rollover(0.5% 3%);
    @include respond-wrapper-fallback (tablet, old-ie&){
        @include b4-after-icon(35px, 48px, 0, 2px, 0.5% 3% )
    }
}

    li:nth-child(2):before{
     @include rollover(6% 3%);
  }
    li:nth-child(3):before{
     @include rollover(11% 3%);
  }


 li:first-child:hover:before {
    @include rollover(0.5% 12%);
  }
 li:nth-child(2):hover:before {
    @include rollover(6% 11%);
  }
 li:nth-child(3):hover:before {
 @include rollover(11% 11.5%);
  }

}

#logo{
  
   padding: 5px 0 5px 10px;
   a {
    font-family: 'Merriweather', serif;
    color:white;
    text-decoration: none;
    font-size: 2em;

  }
}
.active{
  background:$orange;
}
.active > a {
    color:$gray;
}

#about .active:before{
  @include rollover(0.5% 18%);
}

#work .active:before{
  @include rollover(6% 18%);
}
#letstalk .active:before{
  @include rollover(11% 18%);
}

#mobile_menu{
 background: url(../images/spry.png);
width: 62px;
height: 40px;
display: block;
float: right;
background-position: -385px -21px;
margin-right: 30px;
position:relative;
z-index: 999999;
 @include respond-wrapper-fallback (tablet, old-ie&){
  display:none;
}
}


/*PAGES */

#about nav ul li:first-child a:before {
background-position: -15px -103px;
}

#work nav ul li:nth-child(2) a:before {
background-position: -69px -100px;
}
#letstalk nav ul li:nth-child(3) a:before {
background-position: -137px -100px;
}


// HOME PAGE
h1 {
height: 43px;
background: $blue;
position: relative;
font-family: $headings;
text-transform: capitalize;
color: white;
margin: 20px 20px 0;
font-size: 1.5em;
text-align: center;
line-height: 1.5em;
padding: 5px;

@include respond-wrapper-fallback (tablet, old-ie&){
  font-size: 2.5em;
  line-height: 1em;
  max-width: 200px;
  }
}
h1:before{
    @include b4-after-icon(66px, 48px, -41px, 0,  -2px -238px );
}
#simon{
  font-size: 3em;
  text-transform: uppercase;
  @include respond-wrapper-fallback (desktop, old-ie&){
    font-size: 5em;
    line-height: 1em;
  }
}
p{
  font-family: $copy;
  color:$gray;
  padding:0 10px 0;
}
small{ 
  font-family: $copy;
  color:$gray;
  padding:0 0 30px 0;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1em;
    @include respond-wrapper-fallback (tablet, old-ie&){
      padding: 0 20px;
    }
}






/*
 ABOUT ME */
#about p span{
  color:$blue;
}
 #blocks_container p.highlight{
  font-size: 1em;
  line-height: 1em;
  font-weight: 900;
}
 #blocks_container p.large{
  font-size: 1.5em;
 }


#blocks_container{

background: url(../images/blocks.png) repeat;


text-align: center;
padding-bottom: 20px;
;
p{
  color:$gray;
  text-transform: uppercase;
  font-family: $copy;
line-height: 1em;
font-size: 0.8em;
}
}
#about h1{
  text-transform: uppercase;
  font-size: 1em;
}
h2{
  color:$blue;
  font-weight: 900;

  font-size: 2.4em;
line-height: 0em;

}
#edu-title{
  position:relative;
  display:inline-block;
}
#edu-title:before{
 @include b4-after-icon(37px, 48px, -37px, -26px, -19px -15px);
}

.arrow{
  border-left: 5px solid #bababb;
  height:40px;
  width:5px;
  margin:5px auto 15px;
  display:inline-block;
  position:relative;
  @include respond-wrapper-fallback (desktop, old-ie&){
    display:none;
  }
}
.arrow:after {
 @include b4-after-icon(28px, 33px, -14px, 30px,-178px -25px);

}


.arrowHor{

 @include respond-wrapper-fallback (desktop, old-ie&){
border-top: 5px solid #bababb;
height: 5px;
display: block;
position: relative;
width: 15%;
top: 86px;
left: -19%;

}
}

.arrowHor:after {
   @include respond-wrapper-fallback (desktop, old-ie&){
 @include b4-after-icon(27px, 33px, 100%, -16px,-182px -56px);

}
   }

#big_arrow{
  display:none;
 @include respond-wrapper-fallback (desktop, old-ie&){
display: block;
width: 66.5%;
height: 51px;
border-top: 5px solid #bababb;
margin: 10px auto;
position: relative;
left: -39px;
border-left: 5px solid  #bababb;
}
}
#big_arrow:before{
content: " ";
position: absolute;
height: 40px;
width: 5px;
left: 100%;
border: 3px solid  #bababb;
top: -41px;
}

#big_arrow:after{
 @include b4-after-icon(28px, 33px, -14px, 30px,-178px -25px);
}

h3{
  color: $blue;
  font-weight: 900;
  padding:0 30px;
  font-size: 1.8em;
line-height: 1.5em;
margin: 0px -23px 0;

}
.freelance {
width: 168px;
height: 72px;
display: inline-block;
background: url(../images/spry.png);
background-position: -213px -6px;;
}
#jpc{
  width:85%;
  margin:-20px auto;
  padding-bottom: 20px;

 li {
    display: block;
    position:relative;
    color: #444444;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
    font-size: 0.8em;
    text-align: left;
    padding: 20px 0 0 20px;
    height: 42px;
}
li:before{
   @include b4-after-icon(26px, 59px, -48px, 18px,-183px -86px);

}
li:nth-child(2):before{
background-position: -186px -129px;
}
li:nth-child(3):before{
  background-position: -183px -164px;
}

}

//experience

.experience {
width: 249px;
height: 143px;
display: inline-block;
background: url(../images/spry.png);
background-position: -188px -186px;

}

// software

#software{
  min-height: 139px;
position:relative;
display:inline-block;
}
#software:before{
  @include b4-after-icon(71px, 85px, -92px, 11px, -2px -312px);

}


.sofware-icons{
  width: 249px;
height: 50px;
display: inline-block;
background: url(../images/spry.png);
background-position: -188px -275px;

}

// AWARDS

#awards{
display:inline-block;
position:relative;
  @include respond-wrapper-fallback (tablet, old-ie&){
    margin-top: 40px;
  }
  @include respond-wrapper-fallback (desktop, old-ie&){
    margin-top: 0;
  }
}

#awards:before{
    @include b4-after-icon(71px, 85px, -84px, -13px, -11px -389px);


}


// FUNFACTS


.funfacts{
  margin: 50px 30px 5px;
  line-height: 2em;
  position:relative;
  max-width: 200px;

}

.funfacts:before{
  background-position: -44px -240px;
  left: 179px;
  position:absolute;
}

.funfacts:after{
  @include b4-after-icon(71px, 59px, -8px, -5px, -266px -105px);
}

#funfscts-icons{
  margin: 0 auto;
  padding-bottom: 80px;
 li {
    display: block;
    color: #444444;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: left;
    padding: 20px 0 0 20px;
    height: 42px;
    position:relative;

}
li:before{
@include b4-after-icon(26px, 59px, -43px, 18px, -93px -219px);

}
li:nth-child(2):before{
background-position: -93px -280px;
}
li:nth-child(3):before{
  background-position:-93px -384px;
}

li:nth-child(4):before{
  background-position:-93px -341px;
}
}

  
.no-tablet{
    @include respond-wrapper-fallback (tablet, old-ie&){
      display:none;
    }
}


/*   WORK      */
#work h1 {
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 1.2em;

}
#work h1 span {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.2em;
}
#work #container h1{
  padding-top: 15px;
  margin-bottom: 30px;
}
#work #pass {
  font-family: 'Raleway', sans-serif;
  color: #444444;
  font-size: 1.7em;
  margin-top: 40px;
}
#work #pass p {
  padding: 0;
  text-transform: uppercase;
}
#work #pass input {
  width: 100%;
  height: 30px;
  border: 0px;
}
#work #isotope {
  display: none;
  
}
.item{
  @include respond-wrapper-fallback (tablet, old-ie&){
       width:20%;
       float:left;
    }
  margin:  5px;
   width:100%;
   display:inline-block;

 img{
  width:100%;
 }
}
#work #container{
   @include respond-wrapper-fallback (tablet, old-ie&){
   padding-left: 100px;
}
 
  padding-bottom: 100px;
}
#work .fourth img {
  width: 100%;
}
#work .large{
  @include respond-wrapper-fallback (tablet, old-ie&){
     width:600px;
    }
  min-height: 700px;
   width:100%;

}
.close{
display:none;
position: relative;
top: 29px;
z-index: 200;

img{
width: 25px !important;
height: 25px !important;
}
}

.my-slidershow{
  width:100%;
 display:none;
 top:-25px;

}
.bjqs{
   @include respond-wrapper-fallback (tablet, old-ie&){
   height:380px !important;
 }
 img{

   @include respond-wrapper-fallback (tablet, old-ie&){
  height:380px !important;
}
 }
}

.more-detail{
  position:relative;
   background: url(../images/blocks.png) repeat;
  display:inline;
  max-width: 600px;
  padding-top: 50px;
  
   p{
    font-family: $copy;
  }
  a{
    text-decoration: none;
    color:$blue;
    font-family: $headings;
  }
}


.gallery-controller{
position: relative;
top: 206px;
width: 25px;
height: 25px;

}
ol.bjqs-markers li a {
  visibility:hidden;
  padding-left: 10px;
  text-decoration: none;
  color: $blue;
}
ol.bjqs-markers li a:after {
content: ' ';
background: url("../images/no-active-pix.png") no-repeat;
visibility: visible;
display: block;
text-decoration: none;
color: $blue;
  @include b4-after-icon(10px, 10px, 0, -18px, 0% 0%) 
}
ol.bjqs-markers .active-marker a:after {
content: ' ';
background: url("../images/active-pic.png") no-repeat;
visibility: visible;
display: block;
text-decoration: none;
color: $blue;
  @include b4-after-icon(10px, 10px, 0, -18px, 0% 0%) 
}


p.bjqs-caption {
top: 351px;
left: 30px;
}

/*LET'S */
#contact{
  color: $blue;
  text-decoration: none;
  font-family: $copy;

}

#contact:before {
      background:url(../images/spry.png);
    content: ' ';
    width: 41px;
    height: 40px;
    display: inline-block;
    vertical-align: middle; 
    background-position: -126px -411px;

}
  .splat{
position: absolute;
width: 271px;
background: url(../images/splat.png) no-repeat;
height: 160px;
top: -140px;
float: right;
right: 0px;

  }


#guidelines{position:absolute; top:0; z-index: 2000}

.outline * { outline: 2px dotted red ;}
.outline * * { outline: 2px dotted green }
.outline * * * { outline: 2px dotted orange }
.outline * * * * { outline: 2px dotted blue }
.outline * * * * * { outline: 1px solid red }
.outline * * * * * * { outline: 1px solid green }
.outline * * * * * * * { outline: 1px solid orange }
.outline * * * * * * * * { outline: 1px solid blue }

